*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  list-style-type: none;
  border: none;
  outline: none;
  font-family: sans-serif;
  transition: 0.5s ease;
}
html{
  scroll-behavior: smooth;
}
button:hover{
  cursor: pointer;
}